/* Desktop */

@media screen and (min-width: 737px) {

  /* Basic */

  body {
    min-width: 1200px;
  }

  section:last-child {
    margin-bottom: 0 !important;
  }

  /* Wrappers */

  #header-wrapper {
    background: $dark-grey image-url("bg03.jpg");
    border-bottom: solid 1px $dark-grey;
    box-shadow: inset 0px -1px 0px 0px $medium-grey;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
  }

  .subpage #header-wrapper {
    height: 155px;
  }

  #features-wrapper {
    background: $dark-grey image-url("bg02.jpg");
    border-bottom: solid 1px $dark-grey;
    padding: 45px 0 45px 0;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
  }

  #content-wrapper {
    background: $off-white image-url("bg04.png");
    border-top: solid 1px $off-white;
    padding: 45px 0 45px 0;
  }

  #footer-wrapper {
    padding: 45px 0 45px 0;
    text-shadow: 1px 1px 1px $off-white;
  }

  /* Header */

  #header {
    min-height: 125px;
    position: relative;
    & h1 {
      position: absolute;
      left: 0;
      bottom: 35px;
      font-size: 2.75em;
      font-family: 'Oleo Script Swash Caps';
      letter-spacing: 4px;
    }

    & nav {
      position: absolute;
      right: 0;
      bottom: 35px;
      font-weight: 200;
    }

    & nav a {
      font-size: 1.4em;
      margin-left: 60px;
      outline: 0;
    }
  }

/* Banner */

  #banner {
    border-top: solid 1px $dark-grey;
    box-shadow: inset 0px 1px 0px 0px $medium-grey;
    padding: 35px 0 35px 0;
    & .bordered-feature-image {
      margin-bottom: 0;
    }

    & p {
      font-size: 2em;
      font-weight: 200;
      line-height: 1.25em;
      padding-right: 1em;
      margin: 0 0 1em 0;
    }
  }

  /* Features */

  #features {
    font-family: 'Lato', sans-serif;
    & h2 {
      font-size: 1.25em;
      margin: 0 0 0.25em 0;
    }
  }

  /* Content */

  #content {
    & section {
      padding: 40px 30px 45px 30px;
      box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.1);
      margin: 0 0 10% 0;
    }

    & h2 {
      font-size: 1.8em;
      margin: 0 0 0.25em 0;
    }

    & h3 {
      font-size: 1.25em;
    }

    & header {
      margin: 0 0 2em 0;
    }
  }

  /* Footer */

  #footer {
    text-shadow: none;
    & h2 {
      font-size: 1.25em;
      margin: 0 0 1em 0;
    }
  }

  /* Copyright */

  #copyright {
    border-top: solid 1px $light-grey;
    box-shadow: inset 0px 1px 0px 0px $off-white;
    text-align: center;
    padding: 45px 0 80px 0;
    & a {
      font-weight: 600;
      text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
    }
  }


}
