@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400);

$black: #000000;
$purple: #8000FF;
$red: #ED391B;
$light-grey: #96A9B5;
$medium-grey: #3E484A;
$dark-grey: #3B4346;
$off-white: #F7F7F7;
$yellow: #FFFF66;

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

/* Box Model */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Basic */

body {
	background: #99bcff image-url("bg03.jpg");
	color: $medium-grey;
	font-size: 13.5pt;
	font-family: 'Yanone Kaffeesatz';
	line-height: 1.85em;
	font-weight: 300;
}

footer {
	font-family: 'Yanone Kaffeesatz';
}

input, textarea, select {
	color: $medium-grey;
	font-size: 13.5pt;
	font-family: 'Yanone Kaffeesatz';
	line-height: 1.85em;
	font-weight: 300;
}

ul, ol, p, dl {
	margin: 0 0 2em 0;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

section > :last-child,
.last-child {
	margin-bottom: 0 !important;
}

/* Multi-use */

.link-list li {
	padding: 0.2em 0 0.2em 0;
	&:first-child {
		padding-top: 0 !important;
		border-top: 0 !important;
	}

	&:last-child {
		padding-bottom: 0 !important;
		border-bottom: 0 !important;
	}
}

.quote-list li {
	padding: 1em 0 1em 0;
	overflow: hidden;
	text-align: right;
	&:first-child {
		padding-top: 0 !important;
		border-top: 0 !important;
	}

	&:last-child {
		padding-bottom: 0 !important;
		border-bottom: 0 !important;
	}

	& img {
		position: relative;
		float: left;
	}

	& p {
		margin: 0 10px 0 90px;
		font-size: 1.2em;
		font-style: italic;
	}

	& span {
		display: block;
		margin-left: 90px;
		font-size: 0.9em;
		font-weight: 400;
	}
}

.check-list li {
	padding: 0.7em 0 0.7em 45px;
	font-size: 1.2em;
	background: image-url("icon-checkmark.png") 0px 1.05em no-repeat;
	&:first-child {
		padding-top: 0 !important;
		border-top: 0 !important;
		background-position: 0 0.3em;
	}

	&:last-child {
		padding-bottom: 0 !important;
		border-bottom: 0 !important;
	}
}

.feature-image {
	display: block;
	margin: 0 0 2em 0;
	outline: 0;
	& img {
		display: block;
		width: 100%;
	}
}

.bordered-feature-image {
	display: block;
	background: #fff image-url("bg04.png");
	padding: 10px;
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
	margin: 0 0 1.5em 0;
	outline: 0;
	& img {
		display: block;
		width: 100%;
	}
}

.button-big {
	background-image: -moz-linear-gradient(top, #ed391b, #ce1a00);
	background-image: -webkit-linear-gradient(top, #ed391b, #ce1a00);
	background-image: -ms-linear-gradient(top, #ed391b, #ce1a00);
	background-image: linear-gradient(top, #ed391b, #ce1a00);
	display: inline-block;
	background-color: #ed391b;
	color: #fff;
	text-decoration: none;
	font-size: 1.75em;
	font-weight: 300;
	padding: 15px 45px 15px 45px;
	outline: 0;
	border-radius: 10px;
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
	&:hover {
		background-image: -moz-linear-gradient(top, #fd492b, #de2a10);
		background-image: -webkit-linear-gradient(top, #fd492b, #de2a10);
		background-image: -ms-linear-gradient(top, #fd492b, #de2a10);
		background-image: linear-gradient(top, #fd492b, #de2a10);
		background-color: #fd492b;
		box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
	}
	&:active {
		background-image: -moz-linear-gradient(top, #ce1a00, #ed391b);
		background-image: -webkit-linear-gradient(top, #ce1a00, #ed391b);
		background-image: -ms-linear-gradient(top, #ce1a00, #ed391b);
		background-image: linear-gradient(top, #ce1a00, #ed391b);
		background-color: #ce1a00;
		box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
	}
}

/* Header */

#header {
	& h1 a {
	  color: $yellow;
	}
	& nav a {
    color: $off-white;
    &:hover {
      color: $yellow;
    }
	}
}

/* Features */

#features {
  color: $black;
  & h2, & a, & strong {
    color: $purple;
  }
  & a:hover {
    color: $yellow;
  }
}

#banner {
  color: $off-white;
  & .mobile-banner {
    display: none;
  }
}

/* Content */

#content {
	& section {
    background: $off-white;
	}
	& h2 {
    color: $medium-grey;
	}
	& h3 {
    color: $light-grey;
	}
	& a {
    color: $red;
	}
	& .quote-list li {
		border-bottom: solid 1px #e2e6e8;
	}

	& .link-list li {
		border-bottom: solid 1px #e2e6e8;
	}

	& .check-list li {
		border-bottom: solid 1px #e2e6e8;
	}
}

/* Footer */

#footer {
  color: $off-white;
  text-shadow: none;
	& h2 {
	  color: $yellow;
	}
	& a {
	  color: $off-white;
	  &:hover {
		  color: $yellow;
	  }
	}
  & .quote-list li {
		border-top: solid 1px #e0e4e6;
		border-bottom: solid 1px #b5bec3;
		& .link-list li {
			border-top: solid 1px #e0e4e6;
			border-bottom: solid 1px #b5bec3;
		}
		& .check-list li {
			border-top: solid 1px #e0e4e6;
			border-bottom: solid 1px #b5bec3;
		}
	}
}

/* Copyright */

#copyright {
  color: $yellow;
  & a {
    color: $off-white;
    &:hover {
    	color: $yellow;
    }
  }
}

.simple_form {
	width: 75%;
	margin: auto auto;
	.input {
		margin: 10px 0px;
	}
  label {
    float: left;
    width: 100px;
    text-align: right;
    margin: 2px 10px;
  }
  .error {
    clear: left;
    color: black;
    display: block;
    margin-left: 120px;
  }
  .hint {
    clear: left;
    margin-left: 120px;
    color: #555;
    display: block;
    font-style: italic;
  }
}

.field_with_errors {
  background-color: $red;
}

.alert {
	text-align: center;
	color: $yellow;
	font-size: 1.5em;
	padding-top: 30px;
}
button.close {
	color: $yellow;
}

@import 'desktop';
@import 'mobile';
@import 'tablet';
