/* Mobile */

#navPanel, #titleBar {
display: none;
}

@media screen and (max-width: 736px) {

  /* Basic */

  html, body {
    overflow-x: hidden;
  }

  body, input, textarea, select {
    font-size: 13pt;
    line-height: 1.4em;
  }

  /* Multi-use */

  .link-list li {
    padding: 0.75em 0 0.75em 0;
  }

  .quote-list li p {
    margin-bottom: 0.5em;
  }

  .check-list li {
    font-size: 1em;
  }

  .button-big {
    font-size: 1.5em;
    padding: 10px 35px 10px 35px;
  }

  /* Wrappers */

  #header-wrapper {
    background: #3B4346 image-url("bg01.jpg") top center;
    box-shadow: inset 0px -1px 0px 0px #272d30, inset 0px -2px 0px 0px #51575a;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
  }

  #features-wrapper {
    background: #353D40 image-url("bg02.jpg");
    padding: 15px 15px 30px 15px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
  }

  #content-wrapper {
    background: #f7f7f7 image-url("bg04.png");
    padding: 5px;
  }

  .subpage #content-wrapper {
    padding-top: 44px;
  }

  #footer-wrapper {
    padding: 40px 15px 15px 15px;
    text-shadow: 1px 1px 1px white;
  }

  /* Header */

  #header {
    display: none;
  }

  #banner {
    position: relative;
    text-align: center;
    padding: 30px 30px 15px 30px;
    margin-top: 44px;
    & .mobile-banner {
      display: block;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      & h1 {
        color: $yellow;
        position: relative;
        top: -30px;
        font-size: 1.75em;
        font-family: 'Oleo Script Swash Caps';
        letter-spacing: 1.2px;
      }
    }
    & .bordered-feature-image {
      display: none;
    }
    & p {
      font-size: 1.25em;
      font-weight: 200;
      line-height: 1.25em;
      margin: 0 0 1em 0;
    }
  }

  /* Features */

  #features {
    & section {
      padding: 0 0 25px 0;
      margin: 0 0 25px 0;
      border-bottom: solid 1px #51575a;
      box-shadow: inset 0px -1px 0px 0px #272d30;
    }
    & > div > div:last-child > section {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
      box-shadow: none;
    }
    & h2 {
      font-size: 1.25em;
      margin: 0 0 0.25em 0;
    }
  }

  /* Content */

  #content {
    & section {
      box-shadow: inset 0px 0px 0px 1px rgba(128, 128, 128, 0.2);
      padding: 30px 15px 30px 15px;
      margin: 0 0 5px 0;
    }

    & h2 {
      font-size: 1.25em;
      margin: 0 0 0.1em 0;
    }

    & h3 {
      font-size: 1em;
    }

    & header {
      margin: 0 0 1.25em 0;
    }
  }

  /* Footer */

  #footer {
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
    & section {
      margin: 0 0 40px 0;
    }

    & h2 {
      font-size: 1.25em;
      margin: 0 0 0.75em 0;
    }

    & .link-list {
      margin: 0 0 30px 0 !important;
    }
  }

  /* Copyright */

  #copyright {
    border-top: solid 1px #b5bec3;
    box-shadow: inset 0px 1px 0px 0px #e0e4e7;
    text-align: center;
    padding: 20px 30px 20px 30px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
  }

  /* Off-Canvas Navigation */

  #page-wrapper {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    padding-bottom: 1px;
  }

  #titleBar {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    height: 44px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
    color: #fff;
    background: image-url("bg04.jpg");
    box-shadow: inset 0px -20px 70px 0px rgba(200, 220, 245, 0.1), inset 0px -1px 0px 0px rgba(255, 255, 255, 0.1), 0px 1px 7px 0px rgba(0, 0, 0, 0.6);
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
    & .title {
      display: block;
      text-align: center;
      font-size: 1.2em;
      font-weight: 400;
      line-height: 44px;
    }
    & .toggle {
      position: absolute;
      left: 0;
      top: 0;
      width: 80px;
      height: 60px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 6px;
        left: 6px;
        color: #fff;
        background: rgba(255, 255, 255, 0.025);
        box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.05), inset 0px -8px 10px 0px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
        text-shadow: -1px -1px 1px black;
        width: 49px;
        height: 31px;
        border-radius: 8px;
      }
      &:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 30px;
        background: image-url("mobileUI-site-nav-opener-bg.svg");
        top: 15px;
        left: 20px;
        z-index: 1;
        opacity: 0.25;
      }
      &:active:after {
        background: rgba(255, 255, 255, 0.05);
      }
    }
  }

  #navPanel {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translateX(-275px);
    -webkit-transform: translateX(-275px);
    -ms-transform: translateX(-275px);
    transform: translateX(-275px);
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 275px;
    z-index: 10002;
    background: image-url("bg04.jpg");
    box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -2px 0px 25px 0px rgba(0, 0, 0, 0.5);
    text-shadow: -1px -1px 1px black;
    & .link {
      display: block;
      color: #fff;
      text-decoration: none;
      font-size: 1.25em;
      line-height: 2em;
      padding: 0.5em 1.5em 0.5em 1.5em;
      border-top: solid 1px #373d40;
      border-bottom: solid 1px rgba(0, 0, 0, 0.4);
      &:first-child {
        border-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  body.navPanel-visible #page-wrapper {
    -moz-transform: translateX(275px);
    -webkit-transform: translateX(275px);
    -ms-transform: translateX(275px);
    transform: translateX(275px);
  }

  body.navPanel-visible #titleBar {
    -moz-transform: translateX(275px);
    -webkit-transform: translateX(275px);
    -ms-transform: translateX(275px);
    transform: translateX(275px);
  }

  body.navPanel-visible #navPanel {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

}