<div id="footer-wrapper">
  <footer id="footer" class="container">
    <div class="row">
      <div class="7u 12u(mobile)">
        <section>
          <h2>Links</h2>
          <div>
            <div class="row">
              <div class="4u 12u(mobile)">
                <ul class="link-list last-child">
                  <li><%= link_to "Home", request.path == root_path ? '#' : root_path %></li>
                  <li><a href="#about">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              <div class="4u 12u(mobile)">
                <ul class="link-list last-child">
                  <li><a href="//www.facebook.com/FatCatTechnology" target="_external">Find us on Facebook</a></li>
                  <li><a href="//www.twitter.com/FatCatTechnology" target="_external">Follow us on Twitter</a></li>
                  <li><a href="//www.google.com/plus/FatCatTechnology" target="_external">Check us out on Google+</a></li>
                </ul>
              </div>
              <div class="4u 12u(mobile)">
                <ul class="link-list last-child">
                  <li><a href="//www.tigerdroppings.com" target="_external">TigerDroppings</a></li>
                  <li><a href="//www.lsufootball.net" target="_external">LSU Football Schedule</a></li>
                  <li><a href="//www.google.com" target="_external">Go Seach the Web</a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="5u 12u(mobile)">
        <section style="margin: auto 50px;line-height:2.1em">
          <h2>About Fat Cat Technology, LLC</h2>
          <p>
            Email:&nbsp;&nbsp;ChaneyJamey@Outlook.com<br />
            Phone:&nbsp;&nbsp;1-800-555-5555<br />
            Address:&nbsp;&nbsp;1234 Some Street, Baton Rouge, La<br />
          </p>
        </section>
      </div>
    </div>
  </footer>
</div>

<div id="copyright">
  &copy; Fat Cat Technology, LLC. All rights reserved. | Website by: <a href="//www.techflavor.com">TechFlavor</a>
</div>
