<div id="header-wrapper">
  <header id="header" class="container">
    <div class="row">
      <div class="12u">

        <!-- Logo -->
        <h1><a href="#" id="logo">Fat Cat Technology</a></h1>

        <!-- Nav -->
        <nav id="nav">
          <a href="#">Home</a>
          <a href="#about">About Fat Cat</a>
          <a href="#" data-toggle="modal" data-target="#myModal">Contact Us</a>
        </nav>

      </div>
    </div>
  </header>
</div>